.basket-container {
  margin: 10px 0 20px 0;
}

.empty-basket {
  text-align: center;
  margin: 10px 0 20px 0;
}

.summary {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.actions {
  width: 100%;
  text-align: center;
}